<a href="https://colab.research.google.com/github/surajnimse/Basic_Python_By_Sivabalan_N_NTT_Data/blob/main/pcep_getting_started_with_python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
13//5

In [ ]:
num1=10
num2=20
num3=num1 #
num1=100
print(num1,num2,num3)

In [ ]:
'''
num_x="2"
print(num_x)
print(type(num_x))
'''
'''
num_x==2
print(num_x)
print(type(num_x))
'''
num_x=2
print(num_x)
print(type(num_x))


num_x=6-4
print(num_x)
print(type(num_x))

In [ ]:
"hello"+"world"
"hello"*3

In [ ]:
a=True
b=True
not b

In [ ]:
'''''
multi
license
'''''

In [ ]:
"python --version"

In [ ]:
bool
number
float
character
int

In [ ]:
cool_number = 12 + 30
cool_number * 5
print(cool_number)

In [ ]:
o_c = "40.6"
n_c = "60.8"
t_c = o_c + n_c
t_c

In [ ]:
t_c = float(o_c) + float(n_c)
t_c

In [ ]:
value_str = "Python world"
value_str = list(value_str)
value_str

In [ ]:
#swapping numbers
a=20
b=30
c=0
c=a
a=b
b=c
print("a =",a)
print("b =",b)

In [ ]:
a="six"
b=(int(a),float(a))

In [ ]:
a = [1, 'one', {2: 'two'}, 3]
b = len(a)

if b == 4:
   print('Length of this list is 4')
   if b == 5:
       print('Length of this list is 5')
   else:
         print(b)

In [ ]:
new_list = ["Red", "Blue", "White", "Green"]
z = sorted(new_list)
#d = list(z)
print(z)
#print(d)

In [ ]:
value = 4

a = str(value)
b = a + "^" + "2"
c = a + "^" + "3"

print(value, "+", b, "+", c)

In [ ]:
if 'bin' in {'float': 1.2, 'bin': 0b010}:
     print('a')
     print('b')
print('c')

In [ ]:
if None:
  print('Hi')

In [ ]:
#What are the results of evaluating the conditional expression?

a = 5
b = 10
c = "five"
#a == c
#a >= b
not(a < b and a > b)

In [ ]:
'1' + '2'

In [ ]:
# For Loops

for i in range(10):
  print(i)

In [ ]:
for letter in 'hello':
  print(letter)

In [ ]:
for letter in ['h','e','l','l','o']:
  print(letter)

In [ ]:
for char in 'hello':
  print(char)

In [ ]:
my_str="Hello World"
for char in my_str:
  print(char)

In [ ]:
for digit in "10":
  print(digit)

In [ ]:
for digit in 10:
  print(digit)

In [ ]:
for country in "India","USA","UK":
  print(country)

In [ ]:
dogs= ("pug","husky","golden retriever")
for dog in dogs:
  print("its a ",dog)

In [ ]:
dog_weight = (("Pug",20),
              ("husky",80),
              ("golden retriever",50),
              ("bullmust",40),
              ("bulldog",40),
              )
for i,(dog,weight) in enumerate(dog_weight):
  print("The dog at index %d is a %s and it's weight is %s"%(i,dog,weight))

In [ ]:
friends = ["John","Sam","Jill"]
for friends in friends:
  print("Happy New Year,",friends)

In [ ]:
students_score = {"John":70,"Sam":80,"Jill":50,"jack":45,"cook":89,"stell":46}
for student in students_score:
  print(student)

In [ ]:
for student in students_score:
  score = students_score[student]
  print(student," : ",score)

In [ ]:
students_score.keys()

In [ ]:
students_score.values()

In [ ]:
for key in students_score:
  print(key,students_score[key])

In [ ]:
for key_value in students_score.items():
  print(key_value)
print(type(key_value))

In [ ]:
# Else

for student,score in students_score.items():
  print("Student :", student,"\t Score", score)
else:
  print("Loop Completed")

In [ ]:
numbers = [4,6,9,10]
for num in numbers:
  quotient = num //2
  print(quotient, "is the quotient of", num, "/2")
else:
  print("All the numbers are processed")

In [ ]:
mixed_list = [145,
              10.5,
              1+3j,
              True,
              "Python",
              (0,-1),
               [2,-5],
               {"Class":"V","Section":"A"},
              ]
for item in mixed_list:
  print("Type of ",item,"is",type(item))

In [ ]:
num_list = [2,4,6,8,10]
for num in num_list:
  square = num**2
  #print("Square of ",num,"is",num**2)   #directly calculated in print statement.
  print("Square of ",num,"is",square)

In [ ]:
string = input("Enter a string: ")
count = 0
for i in string:
  count = count+1
print("Length of the string is",count)

In [ ]:
num_list = [2,4,6,8,10]
for num in num_list:
  print(num)
else:
  print("no more items left in the list")

In [ ]:
characters = {"a","b","c","d","e"}
for letter in characters:
  print(letter)
else:
  print("No more characters left")

In [ ]:
us_cities = ["New York","Los Angeles","Chicago","Houston","Phoenix"]
for city in us_cities:
  if city == "Houston":
    print(city,"is present in the list")

In [ ]:
numbers=[11,33,55,39,2,55,75,37,22,41,13]
for num in numbers:
  if num%2==0:
    print("The list contains an even number",num)

In [ ]:
years = [2016,2017,2018,2019,2020,2024,2025,2026,2027,2028]
for year in years:
  if year%4==0:
    print(year,"is a leap year")
  else:
    print(year,"is not a leap year")

In [ ]:
names = [["mary","lynda","jessika"],
         ["aaa","bbb","ccc"],
         ["xyz","abc","pqr"]
         ]

for sublist in names:
  print(sublist)

In [ ]:
for sublist in names:
  for name in sublist:
    print(name)

In [ ]:
colors_list = ["red","green","blue"]
objects_list = ["pen","marker","paper"]
for color in colors_list:
  for obj in objects_list:
    print(color,obj)

In [ ]:
my_range = range(5)
my_range

In [ ]:
tuple(my_range)

In [ ]:
list(my_range)

In [ ]:
list(range(2,8))

In [ ]:
list(range(-5,5))

In [ ]:
for i in range(6):
  print("Hello")

In [ ]:
for num in range(5,10):
  print("number", num)

In [ ]:
# Break Statement in for loop
for letter in "Python":
  if letter == "h":
    break
  print("Current Letter:",letter)

In [ ]:
# Break Statement in for loop
for letter in "Python":
    print("Current Letter:",letter)
    if letter == "h":
      break

In [ ]:
for letter in "icecream":
  if letter == "n":
    print("Letter C Found in string:",letter)
    break
else:
    print("Letter C Not Found:",letter)

In [ ]:
mylist = range(10)
for i in mylist:
    if i == 8:
        break
    print(i)

In [ ]:
for i in range (1,10):
  if i >= 5:
    break
  print(i,"is less than 5")

In [ ]:
mylist = range(100)
for i in mylist:
    if i ** 2 >= 100:
      break
    print(i,"square",i ** 2)

In [ ]:
num = int(input("Enter a number :  "))
for i in range(2,num):
  if num % i ==0:
    print(num,"is not a prime number")
    break
else:
  print(num,"is a prime number")

In [ ]:
for i in range(3):
  password = str(input("Enter Password  :"))
  if password == "suraj":
    print("access granted")
    break
  else:
    print("3 time wrong password entered")

In [ ]:
for letter in "string":
  if letter == "i":
    continue
  print(letter)
print("The End")

In [ ]:
for letter in "students":
  if (letter == "e" or letter == "s"):
    continue
  else:
      print(letter)
print("The End")

In [ ]:
for i in range(1,10):
  if i % 2 ==0:
    print(i,"  Even Numner")
  else:
    continue
  print("Yes")

In [ ]:
for i in range(1,10):
  if i % 2 ==0:
    print(i,"  Even Number")
    continue

In [ ]:
for i in range(1,12):
  print()
  print("Before Continue Statement     " ,i)
  if i % 3 == 0:
    continue
  print("After the continue statement  ",i)

In [ ]:
numdays = [31,28,31,30,31,30,31,31,30,31,30,31]
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numdays[0]
newdict = dict()
for i,j in zip(months,numdays):
  newdict.update({i:j})

  if newdict[i] <= 29:
    continue
  else:
    print(i,"   month has ",newdict[i],"  days")

In [ ]:
animals = ["dog","cat","rabbit","lion","tiger","giraffe","deer"]
for pet in animals:
  if pet == "cat":
    continue
  if pet =="Dog":
    break
  print(pet)

In [ ]:
for letter in "Python":
  if letter == "h":
    pass
    print("This is the pass block")
  print("Current Letter:",letter)
print("The End")

In [ ]:
mystr = input("Enter a string: ")
digits = 0
letters= 0
for i in mystr:
  if i.isdigit():
    digits = digits + 1
  elif i.isalpha():
    letters = letters + 1
  else:
    pass
print("Letters = ",letters)
print("Digits = ",digits)

In [ ]:
# Comprehensions
num = range(11)
[x * x for x in num]

In [ ]:
letters = [letter for letter in "suraj nimse"]
print(letters)

In [ ]:
listofwords = ["This","Is","A","List","Of","Words"]
items = [word[0] for word in listofwords]
items

In [ ]:
[word.upper() for word in listofwords]

In [ ]:
[x * x for x in num if x % 2 != 0]

In [ ]:
#Conditional Statements & Loops: Advanced Operations Using for Loops in Python

listofnum = [124,148,173,231,256,301,315,361,399]
for i in listofnum:
  if (i == 315):
    break
  if(i % 7 == 0):
    continue
  print(i," ",end ='')

\

In [ ]:
original_list = [2,3,6,7,8,11,12,13,17,18]
cubes_list = [x**3 for x in original_list if x % 3 == 0]
print(cubes_list)

In [ ]:
[x * 3 if x <5 else x * 4 for x in [1, 4, 5]]

In [ ]:
[x * 3 for x in [1, 4, 5]]

In [ ]:
# while loop
number = 20
while number < 30:
  print(number)
  number = number + 1

In [ ]:
num =20
while num <= (25+5):
  print(num)
  num=num+1

In [ ]:
name="Thomas"
while name == "Thoma":
  print("%s is an amazing soccer play "%name)
  name="Kingsley"

In [ ]:
user_password = ''
while user_password != 'password':
  user_password = input("Enter your password: ")
print("Password Accepted")

In [ ]:
numvalue = int(input("Enter a number: "))
name = input("Enter your name: ")
count = 1
while count <= numvalue:
  print(count, " : " ,name)
  count = count + 1

In [ ]:
num=1
while num <= 10:
  print(num ** 2)
  num=num+1

In [ ]:
num = 0
while num in range(10):
  print(num)
  num = num + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
num=0
while num in range(10):
  if num % 2 == 0:
    print(num,"is even number")
  num=num+1

0 is even number
2 is even number
4 is even number
6 is even number
8 is even number

In [ ]:
value_int = int(input("Enter a number: "))
length=0
while value_int >0:
  value_int //=10
  length=length+1
print("The length of the number is ",length)

Enter a number: 2121212121
The length of the number is  10

In [ ]:
x,y =0,10

In [ ]:
while(x<y): x=x+1; print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Shallow Copy
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

print("\n ----------------------------------------------------Original-List------------------------------------------------ \n")


print("Old list:", old_list)
print("New list:", new_list)

print("\n ----------------------------------------------------Original-List-After-Changes---------------------------------- \n")


new_list[0][1] = 'X'

print("Old list:", old_list)
print("New list:", new_list)

 ----------------------------------------------------Original-List------------------------------------------------

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

 ----------------------------------------------------Original-List-After-Changes----------------------------------

Old list: [[1, 'X', 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 'X', 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Deep Copy
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.deepcopy(old_list)
print("\n ----------------------------------------------------Original-List------------------------------------------------ \n")


print("Old list:", old_list)
print("New list:", new_list)

print("\n ----------------------------------------------------Original-List-After-Changes---------------------------------- \n")


new_list[0][1] = 'X'

print("Old list:", old_list)
print("New list:", new_list)

 ----------------------------------------------------Original-List------------------------------------------------

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

 ----------------------------------------------------Original-List-After-Changes----------------------------------

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 'X', 3], [4, 5, 6], [7, 8, 9]]

In [1]:
conference_rooms = ["executive", "hopper", "lovelace", "pod", "snooze booth"]
capacity = [7, 20, 6, 2, 1]
room_dict = {key:value for key, value in zip(conference_rooms, capacity)}

print(room_dict)

{'executive': 7, 'hopper': 20, 'lovelace': 6, 'pod': 2, 'snooze booth': 1}

In [1]:
oscars = {"Best Picture": "Moonlight", "Best Actor": "Casey Affleck", "Best Actress": "Emma Stone", "Animated Feature": "Zootopia"}

for element in oscars:
  print(element)

Best Picture
Best Actor
Best Actress
Animated Feature

In [2]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20, "the peacemaker": 65, "demonslayer": 50}

print("the peacemaker" in inventory)

True

In [4]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20, "the peacemaker": 65, "demonslayer": 50}
print(inventory.get("stone glove", 30))
print(inventory.get("stone glove", 30))

20
20

In [5]:
combo_meals = {1: ["hamburger", "fries"], 2: ["hamburger", "fries", "soda"], 4: ["veggie burger", "salad", "soda"], 6: ["hot dog", "apple slices", "orange juice"]}
print(combo_meals.get(3, ["hamburger", "fries"]))

['hamburger', 'fries']

In [6]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20, "the peacemaker": 65, "demonslayer": 50}

print(12 in inventory)

False

In [7]:
combo_meals = {1: ["hamburger", "fries"], 2: ["hamburger", "fries", "soda"], 4: ["veggie burger", "salad", "soda"], 6: ["hot dog", "apple slices", "orange juice"]}
print(combo_meals[2])

['hamburger', 'fries', 'soda']

In [8]:
combo_meals = {1: ["hamburger", "fries"], 2: ["hamburger", "fries", "soda"], 4: ["veggie burger", "salad", "soda"], 6: ["hot dog", "apple slices", "orange juice"]}
print(combo_meals[3])

KeyError: 3

In [9]:
raffle = {223842: "Teddy Bear", 872921: "Concert Tickets", 320291: "Gift Basket", 412123: "Necklace", 298787: "Pasta Maker"}

raffle.pop(561721, "No Value")
print(raffle)

{223842: 'Teddy Bear', 872921: 'Concert Tickets', 320291: 'Gift Basket', 412123: 'Necklace', 298787: 'Pasta Maker'}